---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/entries?from=2020-05-25&page=0&to=2020-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nokotoken:
      - "$NOKO_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.nokotime.com/v2/entries?from=2020-05-25&page=2&to=2020-05-31>;
        rel="last", <https://api.nokotime.com/v2/entries?from=2020-05-25&page=2&to=2020-05-31>;
        rel="next"
    body:
      encoding: UTF-8
      string: '[{"id":26123774,"date":"2020-05-27","billable":false,"minutes":60,"description":"Hello!","created_at":"2020-05-27T17:57:33Z","updated_at":"2020-05-27T17:57:33Z","approved_at":null,"source_url":null,"user":{"id":32357,"email":"email@example.com","first_name":"Jonh","last_name":"Doe","profile_image_url":"","url":""},"approved_by":null,"tags":[{"id":1261198,"name":"my-tag","billable":true,"formatted_name":"#my-tag","url":""}],"project":{"id":267511,"name":"Project1","billing_increment":15,"enabled":true,"billable":false,"color":"#ef63a2","url":""},"invoiced":null,"invoiced_at":null,"invoice":null,"import":null,"url":"","invoiced_outside_of_freckle_url":"","invoiced_outside_of_noko_url":"","approved_url":"","unapproved_url":""}]'
  recorded_at: Wed, 27 May 2020 19:41:37 GMT
[...]
