---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/entries?from=2020-05-18&page=0&to=2020-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nokotoken:
      - "$NOKO_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.nokotime.com/v2/entries?from=2020-05-18&page=9&to=2020-05-31>;
        rel="last", <https://api.nokotime.com/v2/entries?from=2020-05-18&page=2&to=2020-05-31>;
        rel="next"
    body:
      encoding: UTF-8
      string: '[{"id":26060943,"date":"2020-05-18","billable":true,"minutes":225,"description":"PR-15355","created_at":"2020-05-18T22:48:10Z","updated_at":"2020-05-22T21:09:24Z","approved_at":null,"source_url":null,"user":{"id":71097,"email":"robert@ombulabs.com","first_name":"Robert","last_name":"Dormer","profile_image_url":"","url":"https://api.nokotime.com/v2/users/71097"},"approved_by":null,"tags":[],"project":{"id":444155,"name":"Power
        HRG","billing_increment":15,"enabled":true,"billable":true,"color":"#0f6953","url":"https://api.nokotime.com/v2/projects/444155"},"invoiced":null,"invoiced_at":null,"invoice":null,"import":null,"url":"https://api.nokotime.com/v2/entries/26060943","invoiced_outside_of_freckle_url":"https://api.nokotime.com/v2/entries/26060943/invoiced_outside_of_freckle","invoiced_outside_of_noko_url":"https://api.nokotime.com/v2/entries/26060943/marked_as_invoiced","approved_url":"https://api.nokotime.com/v2/entries/26060943/approved","unapproved_url":"https://api.nokotime.com/v2/entries/26060943/unapproved"}]'
  recorded_at: Thu, 28 May 2020 21:30:09 GMT
[...]
