language: ruby
rvm:
  - 2.0.0-p247
  - 2.1.2
  - 2.2.4
before_script:
  - cp config/database.yml.sample config/database.yml
script: "bundle exec rspec"
gemfile:
  - Gemfile
before_install:
  - gem update bundler
