<header>
  <div id="logo">
    <h1>Pecas</h1>
    <h2>Leaderboards for Freckle</h2>
  </div>

  <ul class="menu">
    <li role="presentation" <%= users_active? %>>
      <%= link_to 'Team', leaderboard_users_path %>
    </li>
    <li role="presentation" <%= projects_active? %>>
      <%= link_to 'Projects', leaderboard_projects_path %>
    </li>
  </ul>
</header>
