<header>
  <h1>Pecas. Leaderboards for Freckle</h1>
  <ul class="menu">
    <li role="presentation" <%= current_page?(action: 'users') ? raw(' class="active"') : '' %>><%= link_to 'Team', leaderboard_users_path %></li>
    <li role="presentation" <%= current_page?(action: 'projects') ? raw(' class="active"') : '' %>><%= link_to 'Projects', leaderboard_projects_path %></li>
  </ul>
</header>
