# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 684cd21bd16c57292942693212986886a5500dc956c9d43dfe77d5e55692892c68cc79ba23b9e003add8c27d572cc2f5fde7b5dd302ddcfda10c8abb18da3f47

test:
  secret_key_base: 6bb02524f564355e1aaccaafe81927d69c67e5309fa678fbe2161825ffdb419f18b5ebc405afef4093f40f7bc7caaf5e590a27d736e11e4a9c7b5707db4c171a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
